{%  extends "base.html" %}


{% block content %}
{% load static %}
<section id="plansadd" class="plansadd">
        <form action="" method="POST" class="p-add">
            {% csrf_token %} 
            {{plansadd_form}}    
            <input type="submit" value="Add Plans" class="common-submitbtn">
        </form>
        <div class="pldiv">
            <p> 3-months = ₹1800 <br>
                6-months = ₹3600 <br>
                12-months = ₹7200 <br>
            </p>
        <div>        
</section>    

{% endblock %}